hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

.reveal .title-min {
    border-bottom: 3px dashed;
    color: #d9d9d9;
    text-align: left;
    margin: .3em 0 .3em 0;
}

.reveal .progress {
    height: 10px;   
}

.reveal pre {
    font-family: inherit;   
}
